<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the app component</h3>
      <hr>

      <app-servers></app-servers>

      <!-- <div app-servers></div> This is the way to use the attribute style of selector  -->

      <!-- <div class="app-servers"></div>   This is the way to use the class style of selector -->

      <app-success-alert></app-success-alert>

      <app-warning-alert></app-warning-alert>


      <hr>

      <app-coupon></app-coupon>


      <hr>

      <h3>Assignment 2</h3>

      <app-assignment-two></app-assignment-two>
    </div>
  </div>
</div>





