<label>Coupon</label>
<!-- <input type="text" class="form-control" (input)="onUpdateCoupon($event)"> -->
<input type="text" class="form-control" [(ngModel)]="couponName">
<button class="btn btn-primary" [disabled]="!allowNewCoupon" (click)="onCreateCoupon()">Add Coupon</button>
<!-- <p>{{ couponCreationStatus }}</p> -->
<!-- <p>{{ couponName }}</p> -->
<p [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{new: couponStatus === 'New'}" *ngIf="couponCreated"> Coupon was created, {{ couponName }} : {{ couponStatus }}</p>
